<!doctype html>
<head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  <script>
        $( function() {
          $('input[name="mintime"]').datepicker({
              dateFormat: "yy-mm-dd",
              keyboardNavigation: false
          })
        });
        $( function() {
          $('input[name="maxtime"]').datepicker({
              dateFormat: "yy-mm-dd",
              keyboardNavigation: false
          })
        });
  </script>
</head>


{% extends "layout.html" %}
{% block content %}
<body bgcolor="white">

<div style="width:100%">

<h1>Covid dataset</h1>


<form action="/results" name="search" method="get">
    <dl>
        <p>Free text search:</p>
        <dd><textarea rows="4" cols="100" id="autocomplete" name="query"></textarea>
        <dd>Text search optins:
        <input type="radio" id="conjunctive" name="type" value="conjunctive">
        <label for="conjunctive">Conjunctive</label>
        <input type="radio" id="disjunctive" name="type" value="disjunctive" checked = "checked">
        <label for="disjunctive">Disjunctive</label><br>
        <input type="text" hidden="hidden" name="page" value="1">
        <dd>Search in authors: <input type="text" style="width:300px" name="author">
        <dd>Publish time: min <input type="text" class="form-control" name="mintime"> max <input type="text" class="form-control" name="maxtime">
        <dd><input type="submit" value="Search">
    </dl>
</form>
</div>

<div id="topic">
    <iframe align="center" width="100%" height="800" src="{{ url_for('topic') }}" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
</div>

<script type="text/javascript">
        $("#autocomplete").autocomplete({
            source: function(request, response) {
                $.getJSON('{{ url_for("autocomplete") }}', {
                    search: request
                }, response);
            },
            minLength: 2
        });
    </script>
</body>
{% endblock content %}