{% extends "layout.html" %}
<style>
.sansserif {
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
    top:0;
    width:100%;
    float:left;
    font-size: 25px;
}
.title{
    top:0;
    width:100%;
    float:left;
    font-size: 21px;
}
p.results {
    color:grey;
    line-height:20px;
    height:60px;
    overflow:hidden;
    font-size:14px
}
p.cannotfind {
    background-color:pink;
    text-align:center;
    border-left: 6px solid red;
}
</style>
{% block content %}
    {% if docs!=[] %}
        {% for doc, article in docs %}
        <ul>
            <p><a href="/documents/{{doc.doc_id}}" target="_blank">  {{ article['Title'] | safe}} </a> </p>
            <p class="author">{{ article['Author'] | safe}}</p>
            <p class="results">{{article['Abstract'] | safe}}</p>
        </ul>
        {% endfor %}
    {% else %}
        <p>No Favorite</p>
    {% endif %}

{% endblock content %}