<!doctype html>
<head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
        $( function() {
          $('input[name="mintime"]').datepicker({
              dateFormat: "yy-mm-dd",
              keyboardNavigation: false
          })
        });
        $( function() {
          $('input[name="maxtime"]').datepicker({
              dateFormat: "yy-mm-dd",
              keyboardNavigation: false
          })
        });
  </script>
</head>
<body bgcolor="white">
<title>My search page!</title>
<style>
dd {
    width:100%
}
</style>
<div style="width:100%">
<h3 style="background-color:black;color:lightgrey"> Covid dateset </h3>

<h1>Covid dataset</h1>


<form action="/results" name="search" method="get">
    <dl>
        <p>Free text search:</p>
        <dd><textarea rows="4" cols="100" name="query"></textarea>
        <dd>Text search optins:
        <input type="radio" id="conjunctive" name="type" value="conjunctive">
        <label for="conjunctive">Conjunctive</label>
        <input type="radio" id="disjunctive" name="type" value="disjunctive" checked = "checked">
        <label for="disjunctive">Disjunctive</label><br>
        <dd>Search in authors: <input type="text" style="width:300px" name="author">
        <dd>Publish time: min <input type="text" class="form-control" name="mintime"> max <input type="text" class="form-control" name="maxtime">
        <dd><input type="submit" value="Search">
    </dl>
</form>
</div>
</body>